legacy-peer-deps=true
prefer-offline=true
package-lock=true
engine-strict=false
strict-ssl=true
prefer-fetch=true
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
lockfile-version=3
# Ensure dev dependencies are installed in all environments
production=false
